{
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "npm run set-version && npm run build"
      }
    ],
    [
      "@semantic-release/npm",
      {
        "pkgRoot": "dist"
      }
    ],
    "@semantic-release/git",
    "@semantic-release/github"
  ],
  "assets": [
    "hoddor/Cargo.toml",
    "package.json",
    "CHANGELOG.md"
  ]
}
